*.o
*.swp
.DS_*
.vscode/settings.json
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.deps
build
.xmake
*.a
apps/macemu/host/build68k
apps/macemu/host/gencpu
apps/macemu/src/uae_cpu/cpudefs.cpp
apps/macemu/src/uae_cpu/cpuemu.cpp
apps/macemu/src/uae_cpu/cpustbl_nf.cpp
apps/macemu/src/uae_cpu/cpustbl.cpp
apps/macemu/src/uae_cpu/cputbl.h
